.root {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1 {
  text-align: center;
  color: black;
  height: 50px;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.pexels.com/photos/457882/pexels-photo-457882.jpeg?cs=srgb&dl=beach-calm-clouds-457882.jpg&fm=jpg);
  background-repeat: no-repeat;
}

button {
  background: maroon;
  border-radius: 40px;
  height: 30px;
  width: 60px;
  color: white;
}

